<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.mile.mile_navigation_engine">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application>
        <activity android:name=".activities.navigation.NavigateToPOIActivity" />
        <activity android:name=".activities.navigation.NavigationActivity" />
        <activity android:name=".activities.navigation.NavigationTreasureHuntActivity" />
    </application>
</manifest>
